{% extends 'base.html' %}

{% load newsgenome %}

{% block subheader %}{% endblock %}

{% block content %}
	<div class="ui-widget" id="save-msg">
		<div class="ui-state-highlight ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
		<p>
		<span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
		<strong>Thanks!</strong>
		Your disambiguation selection has been save!
		</p>
		</div>
	</div>
	
	<h4>{{ source.title }}</h4>
	<h2>{{ entry.title }}</h2>
	
	{% filter select_calais_entities:entry %}
		{% autoescape off %}
			{{ entry.content }}
		{% endautoescape %}
	{% endfilter %}
	
	<h3><a href="/sources/{{ entry.source.id }}/entries/" title="Entries">Back</a></h3>
	
	<div id="disambiguate_dialog" class="popup_dialog" title="Disambiguate">Searching ...</div>
{% endblock %}


{% block inlinejs %}
	$(document).ready(function() {
		$('#save-msg').hide();
		
   		$('.open-calais-entity').click(function() {
			
	    	var excerpt = $(this).html().replace(/\s+/g,'+')
			
			$('#disambiguate_dialog').html("Searching for "+excerpt+'...');
			$('#disambiguate_dialog').dialog('open');
			
			$.ajax({
			   type: "GET",
			   url: "/disambiguator/search/"+excerpt,
			   success: function(result){
				data = JSON.parse(result);
				
				var hs = '';
				for (var i = 0; i < data.length; i++) {
					hs = hs+"<li class='disambiguation-item' ><a href='#' style='text-decoration:none;' class='save-selection' value='"+data[i]['c1']['value']+"'>"+data[i]['c2']['value']+"</a></li>";
				}
				
			    $('#disambiguate_dialog').html( "<ul class='disambiguation-list'>"+hs+"</ul>" );
				if(data.length == 0)
					$('#disambiguate_dialog').html( "Sorry nothing else found" );
			   }
			 });
			
	   	});
		
	});
	
	$('.save-selection').live("click",function() {
		$('#save-msg').show();
		$('#disambiguate_dialog').dialog('close');
	});

	$("#disambiguate_dialog").dialog({
		bgiframe: true,
		autoOpen: false,
		modal: true,
		minWidth: 400,
		closeOnEscape : true,
		resizable : false
	});
	
{% endblock %}