{% extends 'base.html' %}

{% block content %}

<article id="article1">
	<p><img src="{{ MEDIA_URL }}images/topic1.jpg" /></p>
       <p>Id corpora quaestio erroribus est, ea brute nonumy ius. Viris albucius et sed, ex vix liber assentior, quaeque volumus scribentur eos ut. Ex eam etiam habemus accusamus. Vitae urbanitas sadipscing eum no, eu quot mazim commune sed. Ut natum congue voluptatibus his. Sea nihil nostrud nominati ne.</p>
       <p>Cum modus atqui ut. Discere eligendi disputationi est eu, in velit mediocrem duo. Pro odio eruditi voluptaria cu, his esse mutat rebum id, sit movet iusto explicari an. Ad quo iusto antiopam, vim fastidii apeirian ei. Mea erat senserit adversarium at. Quo at dicunt postulant sapientem, his nostrud verterem te.</p>
       <p>Duo similique definitiones eu, cu idque regione percipitur per, mea ei iudico vocent assentior. Ut eos probo cetero recusabo, pri lorem hendrerit inciderint ad. Duo ex timeam aliquam platonem, qui ne assum postea efficiantur, ullum quaerendum an per. Nominati perpetua eos ei, tritani efficiantur at vel, omnium impetus detracto mel id. Ut alii liber pro.</p>
       <p>Hinc dicat simul ei vel, at pri quaestio abhorreant, in vix sale minimum. Adipiscing argumentum efficiendi ut nec, vim delicata evertitur tincidunt ad, ius ne vidit aeque voluptua. At usu bonorum appetere repudiandae, id ignota propriae mel. Ut duo meliore nusquam assueverit, eam suas deleniti ullamcorper cu. Vel no nihil copiosae, mutat altera salutandi id mel. Sit graece nemore debitis ex, sale viris eligendi at</p>
	<div id="topicbutton1"><img src="{{ MEDIA_URL }}images/topicbutton1.jpg" /></div>
</article>
<article id="article2">
	<p><a href="calais/submit_content.php"><img src="{{ MEDIA_URL }}images/topic2.jpg" style="border: 0px;" /></a></p>
	<p>Id corpora quaestio erroribus est, ea brute nonumy ius. Viris albucius et sed, ex vix liber assentior, quaeque volumus scribentur eos ut. Ex eam etiam habemus accusamus. Vitae urbanitas sadipscing eum no, eu quot vcommune sed. Ut natum congue voluptatibus his. Sea nihil nostrud nominati ne.</p>
	<p>Cum modus atqui ut. Discere eligendi disputationi est eu, in velit mediocrem duo. Pro odio eruditi voluptaria cu, his esse mutat rebum id, sit movet iusto explicari an. Ad quo iusto antiopam, vim fastidii apeirian ei. Mea erat senserit adversarium at. Quo at dicunt postulant sapientem, his nostrud verterem te.</p>
	<div id="topicbutton2"><img src="{{ MEDIA_URL }}images/topicbutton2.jpg" /></div>
</article>

{% endblock %}